.about-container {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 4%;
    padding-bottom: 12%;
    background: #1f1f1f;
}

.about-title {
    padding-bottom: 2%;
}

.about-title h1 {
    color: white;
    text-align: center;
    font-size: 200%;
    margin-bottom: auto;
}

.about-content {
    display: flex;
    align-items: center;
}

.about-content img {
    border-radius: 25%;
}

.about-desc {
    padding-left: 2%;
}

.about-content h1 {
    color: white;
    font-size: 120%;
    font-weight: normal;
}

.about-title hr {
    width: 2%;
}

@media screen and (max-width: 880px) {
    .about-content {
        flex-flow: column;
    }
}