.emp-container {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 4%;
    padding-bottom: 5%;
    background: #252525;
}

.emp-title h1 {
    color: white;
    text-align: center;
    font-size: 200%;
    margin-bottom: auto;
}

.emp-title hr {
    width: 2%;
}

.emp-content {
    display: grid;
    /* padding-left: 7%;
    padding-right: 7%; */
}

.emp-content h1 {
    color: white;
    font-size: 120%;
    font-weight: normal;
    padding-top: 1.5%;
}

.emp-cims a {
    color: white;
    font-size: 120%;
}  

.emp-content hr {
    width: 80%;
}

.emp-content img {
    border-radius: 5%;
    margin-right: 2%;
    float: left;
    width: 35%;
    height: 35%;  
    background: white;
}

.emp-bns img {
    padding-top: 1.5%;
    padding-bottom: 1.5%
}

.emp-cng img {
    padding-top: 1%;
    padding-bottom: 1%;
}

.emp-bns {
    padding-top: 4%;
    padding-bottom: 4%;
}

.emp-cng {
    padding-top: 4%;
    padding-bottom: 4%;
}

.emp-cims {
    padding-bottom: 4%;
    padding-top: 4%;
}