.footer-container {
    background: black;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 1%;
    padding-bottom: 3%;
}

.footer-title h1{
    color: white;
    text-align: center;
    font-size: 200%;
}

.footer-title hr {
    width: 2%;
}

.footer-content {
    font-size: 150%;
    padding-top: 1.5%;
    color: white;
    text-align: center;
}

.footer-content a {
    padding-left: 2%;
    padding-right: 2%;
    color: white;
}

.footer-content i {
    transition: 0.2s;
}

.footer-content i:hover {
    font-size: 250%;
    transition: 0.2s;
}