.nav {
    position: fixed;
    width: 100%;
    transition: 200ms linear;
}

.nav-black {
    position: fixed;
    width: 100%;
    transition: 200ms linear;
    background: rgb(27, 27, 27);
}

.navbar {
    margin-top: auto;
    display: flex;
    justify-content: center;
}

.navbar li {
    padding-top: 1%;
    list-style: none;
    margin-left: 3%;
    margin-right: 3%;
    display: inline;
}

.navbar a {
    color:white;
    text-decoration: none;
    font-size: 150%;
    transition: 100ms linear;
}

.navbar a:hover {
    font-size: 170%;
    transition: 100ms linear;
}




