.projects-container {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 5%;
    padding-bottom: 10%;
    background: #1f1f1f;
    height: 140vh;
}

.projects-title h1 {
    color: white;
    text-align: center;
    font-size: 200%;
    margin-bottom: auto;
}

.projects-title hr {
    width: 2%;
}

.projects-content {
    display: grid;
    padding-top: 4%;
    text-align: center;
    width: 100%;
    height: 100%;
}

.proj-title h1 {
    color: rgba(243, 94, 94, 0.658) !important;
    font-size: 200% !important;
}

.proj-desc {
    display: inline-block;
    padding-left: 4%;
    padding-right: 4%;
}

.projects-content h1 {
    color: white;
    font-size: 120%;
    font-weight: normal;
}

.proj-back-content {
    margin-top: 25%;
}

.projects-content button {
    border: none;
    border-radius: 30px;
    padding: 1% 4%;
    background-color: #3d3d3d;
    transition: 0.2s ease;
    color: #fff;
    font-size: 150%;
  }
  
.link-button {
    padding-top: 3%;
}

.projects-content button:hover {
cursor: pointer;
background-color: rgba(243, 94, 94, 0.432);
}

.projects-content img {
    width: 100%;
    height: 100%;
}

.proj-retrieve {
    grid-column: 1/2;    
    grid-row: 1/2;
    padding-bottom: 8%;
}

.proj-youtube {
    grid-column: 2/2;
    grid-row: 1/2;
    padding-bottom: 8%;
}

.proj-weather {
    grid-column: 1/2;
    grid-row: 2/2;
}

.proj-bookstore {
    grid-column: 2/2;
    grid-row: 2/2;
}

.card {
    position: relative;
    display: inline-block;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    /* vertical-align: center; */
}

.card:hover {
    transform: rotateY(180deg);
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden !important;
    overflow: hidden;
    color: #000;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden !important;
    background: #242424;
    transform: rotateY(180deg);
}

@media screen and (max-width: 800px) {
    .projects-container {
        padding-top: 10%;
        padding-bottom: 50%;
        height: 170vh;
    }

    .projects-content img {
        height: 40vh;
    }

    .projects-content {
        padding-top: 10%;
    }

    .back, .front {
        height: 40vh;
    }
    
    .card {
        height: 50vh;
    }

    .proj-back-content {
        margin-top: 15%;
    }

    .proj-retrieve {
        grid-column: 1/1;    
        grid-row: 1/4;
        height: 14vh;
    }
    
    .proj-youtube {
        grid-column: 1/1;
        grid-row: 2/4;
        height: 8vh;
    }
    
    .proj-weather {
        grid-column: 1/1;
        grid-row: 3/4;
        height: 5vh;
    }
    
    .proj-bookstore {
        grid-column: 1/1;
        grid-row: 4/4;
        height: 0vh;
    }
}