.skills-container {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 4%;
    padding-bottom: 7%;
    background: #252525;
}

.skills-title h1 {
    color: white;
    text-align: center;
    font-size: 200%;
    margin-bottom: auto;
}

.skills-title hr {
    width: 2%;
}

.skills-content {
    display: flex;
    padding-top: 6%;
    justify-content: center;
}

.skills-content div {
    justify-content: center;
}

.skills-content-1 {
    display: flex;
    padding-top: 6%;
    justify-content: center;
}

.skills-content-1 div {
    justify-content: center;
}

.skills-content-2 {
    display: flex;
    padding-top: 6%;
    justify-content: center;
}

.skills-content-2 div {
    justify-content: center;
}

.skills-container img {
    width: 8em;
    height: 8em;
    padding-left: 25%;
    padding-right: 25%;
}

