.skills-container {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 4%;
    padding-bottom: 7%;
    background: #252525;
}

.skills-title h1 {
    color: white;
    text-align: center;
    font-size: 200%;
    margin-bottom: auto;
}

.skills-title hr {
    width: 2%;
}

.flexbox-content img {
    width: 10em;
    height: 10em;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 15%;
    padding-bottom: 15%;
}

.flexbox-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media screen and (max-width: 500px) {
    .skills-container{
        padding-top: 10%;
    }

    .flexbox-content img {
        width: 5em;
        height: 5em;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 15%;
        padding-bottom: 15%;
    }
}

